@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  font-family: "Special Elite", cursive;
  color: rgba(0, 0, 0, 0.7);
}

.filter-sepia {
  filter: sepia(70%);
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -48px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 48px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  margin-bottom: 24px;
}

.deco-hero {
  left: -30px;
  top: -12px;
}

.btn-shadow-yellow {
  box-shadow: 6px 6px 0 0 #fdf06f;
}

.btn-shadow-white {
  box-shadow: 6px 6px 0 0 white;
}

.divider-grey-24 {
  border: 1px dashed rgba(0,0,0,0.24);
}

@media (min-width: 640px) {
  .my-masonry-grid_column {
    padding-left: 24px; /* gutter size */
  }
  .my-masonry-grid {
    margin-left: -24px;
  }
  .deco-hero {
    left: -60px;
    top: -20px;
  }

  .my-masonry-grid_column > div {
    margin-bottom: 32px;
  }
}

@media (min-width: 768px) {
  .my-masonry-grid_column {
    padding-left: 32px; /* gutter size */
  }
  .my-masonry-grid {
    margin-left: -32px;
  }
}

@media (min-width: 1024px) {
  .my-masonry-grid_column {
    padding-left: 48px; /* gutter size */
  }

  .my-masonry-grid {
    margin-left: -48px;
  }

  .my-masonry-grid_column > div {
    margin-bottom: 48px;
  }
}

@media (min-width: 1280px) {
}
